fastapi
uvicorn[standard]
pydantic
langchain-community
tiktoken
langchain-openai
langchainhub
chromadb
langchain
langchain-anthropic
scipy
numpy==1.24.4
ollama
sentence-transformers
nltk
pandas
joblib
scikit-learn
gensim
beautifulsoup4

