fastapi
uvicorn
pydantic
langchain
langchain_community
langchain_core
langchain_text_splitters
langchain-openai
langchainhub
langchain-anthropic
chromadb
tiktoken
scipy
numpy>=1.24.0,<1.27.0
ollama
sentence-transformers
nltk
pandas
joblib
scikit-learn
gensim
bs4
